.dart_tool/
.packages
.pub-cache/
.pub/
build/
doc/api/
pubspec.lock
*.g.dart
*.freezed.dart
*.mocks.dart
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~
*.orig
*.rej
.flutter-plugins
.flutter-plugins-dependencies
**/lib/generated_plugin_registrant.dart
*.log
coverage/
coverage.lcov
**/example/android/.gradle/
**/example/android/.idea/
**/example/android/local.properties
**/example/ios/.symlinks/
**/example/ios/Pods/
**/example/ios/*.xcworkspace/
**/example/ios/Flutter/Flutter.podspec
**/example/ios/Flutter/Generated.xcconfig
**/example/ios/Flutter/.last_build_id
!.gitignore